*{
    margin: 0;
    padding: 0;
}
a{
    font-family: fantasy;
    color: grey;
    text-decoration: none;
}
a:hover{
    color: hotpink;
}
button{
    width: 150px;
    height: 50px;
    color: white;
    background-color: hotpink;
    border: 1px hidden hotpink;
    border-radius: 5px;
}
